.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    width: 50vw;
}

.hidden {
    visibility: hidden;
}

.toDoItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 2vh
}

.toDoItem h1{
    font-size: 1.5em;
}

input { 
    width: 100%;
    height: 7vh;
    border: 1px solid black;
    background-color: white;
    border-radius: 3px;
}

button{
    height: 7vh;
    border-radius: 3px;
}

.submit{
    width: 25vh;
    background-color:cornflowerblue;
    color: white;
    font-weight: bold;
    border: none;
}

.edit{
    width: 25vh;
    background-color: white;
    color: darkslategrey;
    font-weight: bold;
    border: 1px solid darkslategrey;
}

.exitEdit{
    width: 100%;
    background-color: white;
    color: darkslategrey;
    font-weight: bold;
    border: none;
}

.editArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.del{
    width: 100%;
    background-color: white;
    color: darkred;
    font-weight: bold;
    border: none;
}

